@import "../../Home/mixins.scss";

.divmain {
    display: flex;
    //background-color:;
    width: 100%;
    height: 600px;
    overflow: hidden;
    @include md{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-y: scroll;
    }
    
    //=========================This portion design the left side of sidebar===================

    .sidemain {
        background-color: #0f1c52;
        //background-color: cyan;
        //background: transparent;
        padding-left: 25px;
        width: 25%;
        height: 600px;
        position: absolute;
        color: whitesmoke;
        overflow-x: hidden;
        overflow-y: auto;

        @include md{
            position: relative;
            width: 100%;
            height: 400px;
        }
    }
    //------------------folder logo styling--------------

    .folderlogo{
        position: relative;
        display: flex;
        align-items: center;
        //padding: 10px 20px;
        top: 65px;
        left: 15px;
        font-size: 30px;
    }
    
    //---------------------input styling-----------------
    input::placeholder{
        padding-left: 30px;
        color: whitesmoke;
    }
    input:hover{
        border: 1px solid whitesmoke;
        background-color: grey;
        border-radius: 7px;
    }
    .textbox{  
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        border: none;
        padding: 10px 20px;
        width: 250px;
        color: whitesmoke;
        font-size: 20px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 5px;
       
    }
    .divcontent{
        //background-color: cornflowerblue;
        background-color: #0f1c52;
        padding: 10px 30px;
        width: 250px;
        color: whitesmoke;
        font-size: 20px;
        margin-left: 10px;
        margin-bottom: -40px;
        display: none;
        input{
            border: 1px solid grey;
            border-radius: 5px;
        }
        input:hover{
           border-color: whitesmoke;
        }
        .submenu{
            input{
                margin-left: -32px;
            }
        }
    }
    .template{
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        padding-right: 2px;
        z-index: 1000;
        //background-color: darkorchid;
        background-color: #0f1c52;
        width: 374px;
        height: 1500px;
        display: none;
        h1, h3{
           padding-left: 10px;
        }
        @include md{
            width: 100%;
            margin-left: 20px;
        }
    }
    .crossbtn{
        color:whitesmoke;
        font-size: 30px;
        position: absolute;
        left: 310px;
        top: 25px;
        cursor: pointer;
        @include md{
            font-size: 30px;
            left: 290px;
        }
    }
    .imagetemp{
        //background-color: palegreen;
        padding-left: 10px;
        padding-top: 5px;
    }
    .imagetemp img{
        width: 320px;
        height: 240px;
        border: 2px solid whitesmoke;
        border-radius: 10px;
        @include md{
            width: 300px;
            height: 200px;
        }
    }
    .divinside{
        input::placeholder{
            color: black;
            padding-left: 0px;
        }
        input{
            background-color: whitesmoke;
            border-radius: 10px;
            width: 290px;
            padding: 15px;
            margin-left: 10px;
            @include md{
                margin-left: 5px;
            }
        }
    }
    .closebtn{
        background-Color: #ff1694; 
        padding: 5px 135px;
        color:white;
        margin-Left: 10px;
        cursor: pointer;
        border-radius: 10px;
        font-size: 20px;
        @include md{

        }
    }

    //--------------------arrow-right styling---------------------

    .arrowright{
        // position: absolute;
        // left: 290px;
        position: relative;
        display: flex;
        align-items: center;
        padding-right: 10px;
        font-size: 30px;
        top: 37px;
        left: 270px;
        cursor: pointer;
    }
    
   

    //========================This portion design the right side of sidebar=================

    .rightside {
        //background-color: red;
        background-color: #0f1c52;
       // display: inline-block;
        width: 75%;
        height: 100%;
        position: relative;
        margin-left: 25%;
        overflow-y: auto;
        overflow-x: hidden;
        @include md{
           width: 100%;
           height: 100%;
           position: relative;
           margin: 0;
        }

        .topside{
            display: flex;
            align-items: center;
            justify-content: space-between;
            h1{
                color: whitesmoke;
                padding-left: 20px;
                padding-top: 0;
            }
            @include md{
                background-color: #ff1694;
            }
        }
    }
    //this is to hide the scrollbar in div
    .rightside::-webkit-scrollbar{
        display: none;
    }
    .homediv{
        width: 700px;
        height: 380px;
        padding: 20px;
        margin-left: 140px;
        margin-top: 60px;
        background-color: whitesmoke;
        border-radius: 10px;

        h2{
            margin-top: 5px;
            margin-bottom: 0px;
        }
        p{
            color: gray;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        @include md{
            width: 90%;
            margin: 0 0 0 15px;
            padding: 5px;
            height: 430px;
        }
    }
    .homediv img{
        width: 697px;
        height: 250px;
       // padding-left: 30px;
        //margin-left: 10px;
        border-radius: 10px;
        @include md{
            width: 345px;
            margin-left: 5px;
        }
    }


}

